.bg{
    background-color: #72D9FF;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    text-decoration: none !important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    z-index: 100;
    border-top: #9A9AFF 2px solid;
}
.custom-bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    height: 80px;
    align-items: center;
    z-index: 100;
    padding: 0 10px;
}

.custom-bottom-buttons a {
    text-decoration: none !important;
}

.col-3{
    align-self: end;
}

.custom-btn {
    text-decoration: none !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
    background-color: transparent;
    /* Custom button background color */
    border: none;
    padding: 10px 0;
    cursor: pointer;
    color: #FFFFFF;
}

.custom-btn p {
    margin: 0;
    text-decoration: none !important;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

#home-button{
    width: 100%;
    display: flex;
    height: auto;
    align-content: baseline;
}

.custom-icon {
    display: block;
   font-size: 1.5rem;
    /* Adjust icon height */
    margin: 0 auto 5px;
}

.active{
    /* Change the color of the icon for active buttons */
    color: #9A9AFF; /* Change this to your desired color */
  }
  