

.welcome-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 0 10px;
}

.welcome-card .card{  
   flex-direction: row;
   justify-content: space-between;
   border-radius: 10px;
/* Replace #72D9FF with your desired color */
    background: linear-gradient(to bottom, #72D9FF, #C8F0FF);
}

.welcome-image{
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.welcome-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.available-surveys {
    padding: 0 10px;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    width: fit-content;
}

.available-surveys a {
    text-decoration: none !important;
    align-self: center;
}

.available-surveys p {
    align-self: center;
    margin: 0 !important;
}

.available-surveys h3 {
    margin: 0 !important;
}

.container-available {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.available-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
    padding: 0 10px;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    scrollbar-width: none;
}

.available-buttons button {
    padding: 10px 20px;
    background-color: #9A9AFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: auto;
    align-content: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    padding: 0 10px;
}

.homecards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
}