.results-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 !important;
    width: fit-content;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 !important;
    width: fit-content;
    /* margin-top: 20px; */
    align-items: center;
    text-align: left;
    align-self: flex-start;
}

.results-card {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    /* padding: 0 !important; */
}

.results-card .card-title {
    text-align: center !important;
    margin: 0 !important;
}
/* news.css */

.news-container {
    padding-top: 20px;
    width: 100vw;
    padding-bottom: 120px !important;
}

#progress-container {
    text-align: left;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc  ;
    border-radius: 10px;
    background: linear-gradient(to bottom, #72D9FF, #C8F0FF);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.flowers-badge-count h2 {
    font-size: 1.3rem;
    color: #ffffff;
    align-self: flex-start;
    padding: 0 5px;
}

.bar-container {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#progress-bar {
    margin-left: 4px;
    width: 50%;
    height: 12px;
    background-color: #4caf50;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#badges-container {
    width: 100%;
    margin-top: 20px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.badge {
    width: 50px;
    border-radius: 10px;
    height: 50px;
    background-color: #ddd;
    border: 1px solid #ccc;
    background-size: cover;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #4caf50;
    margin: 15% auto;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.modal-badge {
    width: 180px;
    border-radius: 10px;
    height: auto;
    background-color: transparent;
    background-size: cover;
    cursor: pointer;
}

.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 38px;
    align-self: end;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .close:hover {
    color: #000;
}


.main-card{
    padding: 5px;
}

.card.horizontal-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    background-image: url(/images/pexels-cottonbro-studio-7578802.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    border-radius: 5px;
    justify-content: flex-end;
}

.card-img-overlay {
    align-self: flex-end;
    width: fit-content;
    height: fit-content;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgba(207, 207, 207, 0.2);
    gap: 10px;
    backdrop-filter: blur(2px);
}

.card-img-overlay .card-text {
    margin: 0;
    font-size: 0.8rem;
    color: white;
}

.card-img-overlay .card-title {
    margin: 0;
    font-size: 1.2rem;
    color: white;
    text-shadow:
    1px 0 rgb(51, 51, 51),
    0 -1px rgb(51, 51, 51),
    -1px 0 rgb(51, 51, 51),
    0 1px rgb(51, 51, 51);
}

  .separator {
      margin: 20px 0;
      border-top: 1px solid #eee;
      width: 90%;
      align-self: center;
  }

 .news-section {
     text-align: center;
     margin: 0;
     display: flex; 
     justify-content: flex-start; 
     align-items: center;
    }

 .news-subtitle {
     font-size: 1.5rem;
     color: #333;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .news-section .icon {
     margin-right: 10px;
     color: #9A9AFF;
     /* You can change the color to match your design */
 }



.card-body {
    padding: 5px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}   

.card-title {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin: 0;
    width: 100%;
    height: fit-content;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-text {
    font-size: 1rem !important;
    color: black;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Optional: Add responsive styles for mobile devices */
@media (max-width: 767px) {
    .card.horizontal-card {
        flex-direction: column;
        /* height: auto; */
    }

    .card-img-overlay {
        padding: 20px;
    }
}