* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
  overscroll-behavior-x: none;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  text-decoration: none !important;
}

body h1 {
  text-decoration: none !important;
}

body h2 {
  color: #9A9AFF;
}

body a {
  text-decoration: none !important;
}

body p {
  text-decoration: none !important;
  font-size: 16px !important;
}

.onboarding-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  background-color: #fbfbfb;
  padding: 25px;
}

.onboarding-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #9A9AFF;
  margin: 0;
}

.onboarding-container p {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  margin: 0;
}

.onboarding-text .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.onboarding-text .text p {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  margin: 0;
}

.onboarding-image {
  align-self: flex-start;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: contents;
}

.img-resize {
  width: 350px;
  height: auto;
  object-fit: cover;
}

.onboarding-button button{
  width: 255px; 
  height: 60px; 
  background-color: #9a9aff;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
}

.container {
  padding-bottom: 80px;
  /* width: 100vw; */
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  overflow-x: hidden !important;
}

/*Top Navbar Dropdown*/

 #dropdownOverlay {
   display: none;
   position: absolute;
   flex-direction: column;
   justify-content: start;
   padding-top: 80px !important;
   gap: 20px;
   top: 0;
   right: 0;
   width: 75%;
   height: 100%;
   padding: 25px;
    border-radius: 5px;
   background-color: #72D9FF;
   /* Semi-transparent black overlay */
   z-index: 1000;
  transition: transform 0.3s ease-out;
    /* Add transition for smooth sliding */
    transform: translateX(100%);
    /* Start with the dropdown off-screen */
 }

 #dropdownOverlay a {
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
  font-size: 14px;
  font-weight: 600;
  /* border-bottom: #D0D0FF 1px solid; */
  width: 100%;
 }

 .dropdown-image {
  align-self: flex-start;
   width: 70px;
   height: 70px;
   border-radius: 50%;
    overflow: hidden;
  border: #9A9AFF 2px solid;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
   object-fit: cover;
   margin-left: 10px;
 }

 .dropdown-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 50%;
 }

 #dropdownOverlay.show {
   display: flex;
  transform: translateX(0);
    /* Slide in when visible */
 }

 #dropdownOverlay.hide {
   transform: translateX(100%);
   /* Slide out when hidden */
 }

 .close-button {
   background: none;
   border: none;
   font-size: 24px;
   cursor: pointer;
   position: absolute;
   top: 10px;
   right: 20px;
   color: #ffffff;
   opacity: calc(75%);
   /* Close button color */
 }

 .close-button:hover {
   color: #7A7AFF;
   /* Change color on hover if desired */
 }

.profile-button {
  background-color: #9A9AFF;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.profile-button i {
  font-size: 20px;
}

#mobileMenuContainer{
  z-index: 10;
}

#mobileBottomMenuContainer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
}

#mobileBottomMenuContainer iframe{
  position: fixed;
  bottom: 0;
}




/*/////SURVEY PAGE/////*/


.survey-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #fbfbfb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 25px;
}


.text-center {
  display: flex;
  flex-direction: column;
     align-items: center;
  gap: 20px;
}

.line-spacer {
  width: 100%;
  height: 1px;
  background-color: #dedede;
}

.survey-button{
  width: 255px;
  height: 60px;
  background-color: #9A9AFF;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}

.progress{
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 25px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  justify-content: start;
}

.progress h3{
  margin: 0;
  font-size: 1.2rem;
  /* font-weight: 500; */
  align-self: flex-start;
}

/* progress bar surveys*/
.meter {
  box-sizing: content-box;
  height: 10px;
  /* Can be anything */
  position: relative;
  width: 100%;
  background: #dedede;
  border-radius: 15px;
  padding: 3px;
}

.meter>span {
  display: block;
  height: 100%;
  border-radius: 8px;
  background-color: #14A38B;
  background-image: linear-gradient(center bottom,
      #14A38B 37%,
      rgb(84, 240, 84) 69%);
  position: relative;
  overflow: hidden;
}

#percentage-55 {
  background-color: #9A9AFF;
}

#percentage-18 {
  background-color: #FF7171;
}

#text-55 {
  color: #9A9AFF;
}

#text-18 {
  color: #FF7171;
}

.progress-tags {
  display: flex;
  justify-content: space-between;
}

.progress-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-status p {
  margin: 0;
  color: #14A38B;
  margin-left: 5px;
  font-weight: 500;
}

.text {
  text-align: center;
}



.bottom-buttons {
  background-color: #72D9FF;
}



.icon-img {
  display: block;
  width: 40px;
  /* Adjust icon width */
  height: 10px;
  /* Maintain aspect ratio */
  margin: 0 auto 5px;
  /* Center and add space below the image */
}
  
  
  button:last-child {
    margin-bottom: 0;
  }

  .profile-button {
    background-color: #9A9AFF;
    border: none;
    border-radius: 80%; /* Circular border radius */
    padding: 20px; /* Adjust padding as needed */
    cursor: pointer;
  }
  



  .content-wrapper {
    margin: 0 auto;
    /* max-width: 1200px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
  }
  


button:last-child {
  margin-bottom: 0;
}

.profile-button {
  background-color: #9A9AFF;
  border: none;
  border-radius: 80%;
  /* Circular border radius */
  padding: 20px;
  /* Adjust padding as needed */
  cursor: pointer;
}



.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}




/* Rewards*/
.flowers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 75px;
  position: relative;
}
.flowers:active {
  color: white;
}

/* #alert {
  display: none;
  padding: 20px;
  background-color: #0a9120;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
} */


/* survey */
.likert li {
  float: left;
  list-style-type: none;
  margin-left: 20px;
}

.card {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.card-text {
  color: #969393;
}

.card-title {
  font-weight: 700;
  color: #242425;
}

.card-img-top{
  width: 100%;
  height: auto;
}
 




