body {
    padding-top: 70px; /* Adjust the padding top to accommodate the fixed Navbar's height */
    overflow-x: hidden;
    overscroll-behavior-x: none;
    height: 100vh;
    width: 100vw;
  }



.text-center{
    display: flex;
    flex-direction: column;
/*    align-items: center;*/
    gap: 20px;
}

.text{
    text-align: center;
}
 
.img-resize {
      width: 80%;
      height: auto;
    }

.bottom-buttons {
 background-color: #72D9FF;
}

.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
    
}

.icon-img {
    display: block;
    width: 40px; /* Adjust icon width */
    height: 10px; /* Maintain aspect ratio */
    margin: 0 auto 5px; /* Center and add space below the image */
  }

  .available-surveys{
    padding: 0 20px ;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    width: fit-content;
  }
  .available-surveys p{
    align-self: center;
    margin: 0 !important;
  }
  
  .container-available{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  

  .available-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
    padding: 0 10px;
    overflow-x: auto;
    width: fit-content;
  }
  
  .available-buttons button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #9A9AFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: auto;
    align-content: center;
  }

  .filter-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
    padding: 0 10px;
    width: fit-content;
  }
  
  .filter-buttons button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #9A9AFF;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    height: 40px;
    align-content: center;
  }

  

  
  
  button:last-child {
    margin-bottom: 0;
  }

  .profile-button {
    background-color: #9A9AFF;
    border: none;
    border-radius: 80%; /* Circular border radius */
    padding: 20px; /* Adjust padding as needed */
    cursor: pointer;
  }
  



  .content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
  }
  


/* progress bar surveys*/
  .meter {
    box-sizing: content-box;
    height: 10px; /* Can be anything */
    position: relative;
    margin: 60px 0 20px 0; /* Just for demo spacing */
    background: #b1b1b1;
    border-radius: 15px;
    padding: 5px;
  }
  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(
      center bottom,
      rgb(43, 194, 83) 37%,
      rgb(84, 240, 84) 69%
    );
    position: relative;
    overflow: hidden;
  }

/*piechart*/



/* Rewards*/
.flowers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 75px;
  position: relative;
  z-index: 3;
}

#alert {
  display: none;
  padding: 20px;
  background-color: #0a9120;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  z-index: 10;
  position: relative;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* survey */
.likert li {
  float: left;
  list-style-type: none;
  margin-left: 20px;
}

.card {
  padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.mt-4{
  padding: 0 20px;
  gap: 20px;
  
}

.card-text{
  color: #969393;
}

.card-title{
  font-weight: 700;
  color: #242425;
}

.card-img-top{
  width: 100%;
  height: auto;
}
 




