.container-filter {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
    padding: 0 !important;
    width: 100%;
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 10px;
    padding: 0;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.filter-buttons button {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 2px solid #f0f0f0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    height: 40px;
    display: flex;
    gap: 2px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.filter-buttons .active-button {
    color: white;
    background-color: #9A9AFF;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.filter-buttons .active-button i {
    color: #FF7171;
}

#all.active-button {
    color: white;
    background-color: #9A9AFF;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

#all.active-button i {
    color: #FF7171;
}

#to-do i {
    color: #FF7171;
}

#completed i {
    color: #14A38B;
}

.surveys-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    padding: 0 !important;
    width: 100%;
    margin: auto;
}

.survey-card-container{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 0 !important;
}

.survey-card{
    display: flex;
        flex-direction: column-reverse;
        gap: 20px;
        padding: 0 !important;
    width: 100%;
}

.card {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card p{
    text-decoration: none !important;
}

.card-body {
   width: 100%;
}

.chart-title{
    font-weight: 700;
    color: #9A9AFF;
    align-self: flex-start;
}

.mt-4 {
    padding: 0 20px;
    gap: 20px;

}

.card-text {
    color: #969393;
}

.card-title {
    font-weight: 700;
    color: #242425;
}

.card-img-top {
    width: 100%;
    height: auto;
}

/* progress bar surveys*/
.meter {
    box-sizing: content-box;
    height: 10px;
    /* Can be anything */
    position: relative;
    width: 100%;
    background: #dedede;
    border-radius: 15px;
    padding: 3px;
}

.meter>span {
    display: block;
    height: 100%;
    border-radius: 8px;
    background-color: #14A38B;
    background-image: linear-gradient(center bottom,
            #14A38B 37%,
            rgb(84, 240, 84) 69%);
    position: relative;
    overflow: hidden;
}

#percentage-55{
    background-color: #9A9AFF;
}

#percentage-18 {
    background-color: #FF7171;
}

#text-55{
    color: #9A9AFF;
}

#text-18{
    color: #FF7171;
}

.progress-tags {
    display: flex;
    justify-content: space-between;
}

.progress-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-status p {
    margin: 0;
    color: #14A38B;
    margin-left: 5px;
    font-weight: 500;
}

