<!-- top-navbar.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mobile Top Menu</title>
    <link rel="stylesheet" href="/css/top-navbar.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/dd1d486564.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- top-navbar.html -->
    <div class="mobile-navbar">
      <div class="container-fluid">
        <div class="navbar-brand"><h2 id="page-title"></h2></div>
        <div class="profile-dropdown">
          <button class="profile-button">
            <span class="navbar-icon"><i class="fa-solid fa-user"></i></span>
          </button>
          <div class="dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Support</a>
            <a href="#">Settings</a>
            <a href="#">Logout</a>
          </div>
        </div>
      </div>

      <script>
        // Listen for messages from the parent document
        window.addEventListener("message", function (event) {
          if (event.data && event.data.type === "updateTitle") {
            // Update the h2 element with the received title
            const pageTitleElement = document.getElementById("page-title");
            if (pageTitleElement) {
              pageTitleElement.innerText = event.data.title;
            }
          }
        });

        document
          .querySelector(".profile-button")
          .addEventListener("click", function () {
            // Notify the parent document to handle dropdown logic
            window.parent.postMessage({ type: "toggleDropdown" }, "*");
          });
      </script>
    </div>
  </body>
</html>
