<!-- top-navbar.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mobile Bottom Menu</title>
    <link rel="stylesheet" href="/css/top-navbar.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/dd1d486564.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- top-navbar.html -->
    <div class="mobile-navbar">
      <div class="container-fluid">
        <div class="navbar-brand"><h2 id="page-title"></h2></div>
        <button class="profile-button">
          <span class="navbar-icon"><i class="fa-solid fa-user"></i></span>
        </button>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const pageTitleElement = document.getElementById("page-title");
        const menuItems = document.querySelectorAll(".custom-btn");

        menuItems.forEach((item) => {
          item.addEventListener("click", function (event) {
            event.preventDefault();
            const href = item.parentElement.getAttribute("href");
            const pageTitle = item.querySelector("p").textContent;
            navigateToPage(href, pageTitle);
          });
        });

        function navigateToPage(page, pageTitle) {
          loadPageContent(page);
          pageTitleElement.textContent = pageTitle;
          history.pushState(null, null, page);
        }

        function loadPageContent(url) {
          // For simplicity, let's assume you have a function loadPage(url) to load the content
          console.log("Loading content for:", url);
        }
      });
    </script>
  </body>
</html>
