<!-- bottom-menu.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mobile Bottom Menu</title>
    <link rel="stylesheet" href="/css/bottom-menu.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/dd1d486564.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="bg">
      <div class="container d-flex flex-column">
        <div class="row fixed-bottom custom-bottom-buttons">
          <div class="col-3">
            <a href="/components/home/home.html" target="_parent">
              <button class="custom-btn text-center" id="home-button">
                <i
                  class="custom-icon fa-solid fa-table-columns"
                  id="home-icon"
                ></i>
                <p id="home-text">Home</p>
              </button>
            </a>
          </div>
          <div class="col-3">
            <a href="/components/surveys/surveys.html" target="_parent">
              <button class="custom-btn text-center">
                <i class="custom-icon fa-solid fa-clipboard-check"></i>
                <p>Surveys</p>
              </button>
            </a>
          </div>
          <div class="col-3">
            <a href="/components/results/results.html" target="_parent">
              <button class="custom-btn text-center">
                <i class="custom-icon fa-solid fa-square-poll-vertical"></i>
                <p>Results</p>
              </button>
            </a>
          </div>
          <div class="col-3">
            <a href="/components/news/news.html" target="_parent">
              <button class="custom-btn text-center">
                <i class="custom-icon fa-solid fa-newspaper"></i>
                <p>News</p>
              </button>
            </a>
          </div>
          <div class="col-3">
            <a href="/components/reward/reward.html" target="_parent">
              <button class="custom-btn text-center">
                <i class="custom-icon fa-solid fa-award"></i>
                <p>Rewards</p>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
