<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Reward system</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="manifest" href="/manifest.json">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <!-- You can add more navbar items such as settings, notifications, etc. -->
        </ul>
      </div>
    </div>

    <i class="fa-solid fa-circle-user"></i>
  </nav>

  <div class="container">
    

    <div class="grid">
      <div class="card">
        <span class="icon">
          
        </span>
        <h2> Welcome Back! </h2>
        <p>
          Hi, User
        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>
    
            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>
    
            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>
    
          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </div>
      
    </div>

    <div class="buttons">
      <button>Monthly Survey</button>
      <button>Biannual Survey</button>
      <button>Weekly Survey</button>
      <button>Biannual Survey</button>

    </div>

    
    
    

    <div class="row mt-4">
      <div class="col-md-3 mb-3">
        <a href="surveys.html" class="card-link">
          <div class="card">
            <img src="/images/surveyimage.jpg" class="card-img-top" alt="Image 1">
            <div class="card-body">
              <h5 class="card-title">Surveys</h5>
              <p class="card-text">Insights</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a href="results.html" class="card-link">
          <div class="card">
            <img src="/images/resultsimage.jpg" class="card-img-top" alt="Image 2">
            <div class="card-body">
              <h5 class="card-title">Results</h5>
              <p class="card-text">Analytics</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a href="news.html" class="card-link">
          <div class="card">
            <img src="/images/newsimage.jpg" class="card-img-top" alt="Image 3">
            <div class="card-body">
              <h5 class="card-title">News</h5>
              <p class="card-text">Updates</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a href="support.html" class="card-link">
          <div class="card">
            <img src="/images/supportimage.jpg" class="card-img-top" alt="Image 4">
            <div class="card-body">
              <h5 class="card-title">Support</h5>
              <p class="card-text"></p>
            </div>Resources
          </div>
        </a>
      </div>
      <div class="col-md-3 mb-3">
        <a href="reward.html" class="card-link">
          <div class="card">
            <img src="image5.jpg" class="card-img-top" alt="Reward">
            <div class="card-body">
              <h5 class="card-title">Reward</h5>
              <p class="card-text">Some text for Card 5.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="bg">
    <div class="container-fluid d-flex flex-column">
      <div class="row fixed-bottom bottom-buttons">
        <div class="col-3">
          <a href="home.html" >
            <button  class="btn text-center w-100">
            <img src="home.png" alt="Home Icon" class="icon-img"> Home
          </button>
          </a>
        </div>
        <div class="col-3">
          <a href="surveys.html" >
            <button  class="btn text-center w-100">
            <img src="home.png" alt="Home Icon" class="icon-img"> Survey
          </button>
          </a>
        </div>
        <div class="col-3">
          <a href="results.html" >
            <button  class="btn text-center w-100">
            <img src="home.png" alt="Home Icon" class="icon-img"> Results 
          </button>
          </a>
        </div>
        <div class="col-3">
          <a href="news.html" >
            <button  class="btn text-center w-100">
            <img src="home.png" alt="Home Icon" class="icon-img"> News
          </button>
          </a>
        </div>
        <div class="col-3">
          <a href="reward.html" class="btn text-center w-100">
            <img src="reward.png" alt="Reward Icon" class="icon-img"> Reward
          </a>
        </div> 
      </div>
    </div>
  </div>
  <script src="js/scripts.js" type="text/javascript"></script>
</body>
</html>
