<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Reward system</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="manifest" href="manifest.json" />
    <link rel="" href="/js/bottom-menu.js" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Vragenlijst</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Profiel</a>
            </li>
            <!-- You can add more navbar items such as settings, notifications, etc. -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="bg">
      <div class="container text-center">
        <img
          class="img-fluid img-resize"
          src="images/status/party.png"
          alt="..."
        />
        <div class="text">
          <p>Je hebt de vragenlijst voltooid. Wat wil je nu doen?</p>
        </div>
        <a href="/components/reward/reward-add-sunflower.html"
          ><button
            type="button"
            class="btn btn-primary"
            data-mdb-ripple-init
            style="width: 255px; height: 60px; background-color: #9a9aff"
          >
            Ontgrendel plant
          </button></a
        >
        <a href="/components/home/home.html"
          ><button
            type="button"
            class="btn btn-primary"
            data-mdb-ripple-init
            style="width: 255px; height: 60px; background-color: #9a9aff"
          >
            Naar het hoofdmenu
          </button></a
        >
      </div>
    </div>
    <script src="js/scripts.js" type="text/javascript"></script>
  </body>
</html>
